language: java
jdk:
- oraclejdk8
branches:
  only:
  - master
  - develop
notifications:
  email:
    recipients:
    - m.puchades@gmail.com

script:
- mvn verify
- mvn org.jacoco:jacoco-maven-plugin:prepare-agent verify
- mvn sonar:sonar Dsonar.projectKey=es.upm.miw.SVC:Manuel.Puchades -Dsonar.organization=manupuchades-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR
